cffi==1.16.0
clr-loader==0.2.6
MouseInfo==0.1.3
Pillow @ file:///private/tmp/pillow-20231211-62833-mbj9ip/Pillow-10.1.0
protobuf==4.21.12
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.6
pyobjc-core==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-Quartz==10.1
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pythonnet==3.0.3
pytweening==1.0.7
rubicon-objc==0.4.7
six==1.16.0
